{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>

    <div class="row">

        <div class="col-md-3">
            <img src="{% static 'plataforma/img/perfil1.png' %}">
        </div>

        <div class="col-md-3 dados descricao">
            <h4>Caio Sampaio</h4>
            <h6>22 Anos</h6>
        </div>
        
    </div>
    <hr>


    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
        Adicionar dados do paciente
    </button>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Peso</th>
            <th scope="col">Altura</th>
            <th scope="col">% gordura</th>
            <th scope="col">% músculo</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in dados_paciente %}
            <tr>
                <th scope="row">{{dado.peso}} Kg</th>
                <td>{{dado.altura}} cm</td>
                <td>{{dado.percentual_gordura}}%</td>
                <td>{{}dado.percentual_musculo}}%</td>
            </tr>
            {% endfor %}
            {% include 'modals/informacoes_paciente_modal.html' %}
        </tbody>
    </table>
    
    <div style="width: 60%;">
        <canvas id="myChart"></canvas>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    fetch("/grafico_peso/{{paciente.id}}/",{
        method: 'POST',
    }).then(function(result){
        return result.json()
    }).then(function(data_paciente){
       
        const data = {
            labels: data_paciente['labels'],
            datasets: [{
            label: 'Peso paciente',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: data_paciente['peso'],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );


    })
</script>
        
{% endblock%}
